﻿@model Student 
@{
    ViewData["Title"] = "Edit";
    Layout = "_Layout";
}

<h2>Create</h2><br>
<form method="post">
    @Html.DisplayNameFor(x => x.Name): @Html.EditorFor(x => x.Name)<br><br>
    @Html.DisplayNameFor(x => x.Surname): @Html.EditorFor(x => x.Surname)<br><br>
    @Html.DisplayNameFor(x => x.Age): @Html.EditorFor(x => x.Age)<br><br>
<input type="submit">
</form>