﻿@using Home6.Services
@inject IStudentCollection Service 
@model List<Student> 
@{
    ViewData["Title"] = "All";
    Layout = "_Layout";
}

<h2>All</h2><br>
@foreach (Student student in Service.All())
{
    <span>
        @Html.DisplayFor(x => student.Name) 
        @Html.DisplayFor(x => student.Surname) 
        @Html.DisplayFor(x => student.Age) 
    </span><br><br>
}