﻿@model Student 
@{
    ViewData["Title"] = "View";
    Layout = "_Layout";
}

<h2>Read</h2><br>

@Html.DisplayNameFor(x => x.Name): @Html.DisplayFor(x => x.Name)<br><br>
@Html.DisplayNameFor(x => x.Surname): @Html.DisplayFor(x => x.Surname)<br><br>
@Html.DisplayNameFor(x => x.Age): @Html.DisplayFor(x => x.Age)

