﻿@model List<Student> 
@{
    ViewData["Title"] = "All";
    Layout = "_Layout";
}

<h2>All</h2><br>
@for (int i = 0; i < Model.Count; i++)
{
    <span>
        @i ) 
        @Html.DisplayFor(x => Model[i].Name)
        @Html.DisplayFor(x => Model[i].Surname)
        @Html.DisplayFor(x => Model[i].Age)
    </span><br><br>
}